@model TeploobLibrary1.TeploobmenOutputData?
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }

        .input-container {
            width: 50%;
            padding-right: 20px;
        }

        .table-container {
            width: 50%;
            overflow: auto;
        }
    </style>
</head>
<div class="text-center">
    <div class="container border p-3">
        <div class="form-group">
            <h2>Расчет теплообмена в противоточном движении кусковых материалов и газов в плотном продуваемом слое</h2>
        </div>
    </div>
    <br />
</div>

<body>
    <div class="container">
        <div class="input-container">
            <h5><b>Введите свои данные для рассчета:</b></h5>
            <br>
            <form action="/Home/TestPage/" method="post">
                <div class="mb-0">
                    <label for="h" class="form-label">Высота слоя, м:</label>
                    <input name="h" class="form-control" id="h" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="tmaterial" class="form-label">Начальная температура материала, С:</label>
                    <input name="tmaterial" class="form-control" id="tmaterial" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="tgaza" class="form-label">Начальная температура газа, С:</label>
                    <input name="tgaza" class="form-control" id="tgaza" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="vgaza" class="form-label">Скорость газа на свободное сечение шахты, м/с:</label>
                    <input name="vgaza" class="form-control" id="vgaza" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="cgaza" class="form-label">Средняя теплоемкость газа:</label>
                    <input name="cgaza" class="form-control" id="cgaza" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="rashod" class="form-label">Расход материалов, кг/с:</label>
                    <input name="rashod" class="form-control" id="rashod" style="width: 100px;" />
                </div>
                <div class="mb-0">
                    <label for="gmaterial" class="form-label">Теплоемкость материалов, кДж:</label>
                    <input name="gmaterial" class="form-control" id="gmaterial" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="av" class="form-label">Объемный коэффициент теплоотдачи:</label>
                    <input name="av" class="form-control" id="av" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="dapparata" class="form-label">Диаметр аппарата, м:</label>
                    <input name="dapparata" class="form-control" id="dapparata" style="width: 100px;" />
                </div>

                <div>
                    <input type="submit" value="Рассчитать" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <br /><br /><br /><br /><br />
        <div class="table-container">
            <!-- Table -->
            @if (Model != null)
            {
                <table class="table table-hover table-bordered">
                    <tr>
                        <td>Высота слоя</td>
                        @foreach (var number in Model.Rows)
                        {
                            <td>@number.X</td>
                        }
                    </tr>
                    <tr>
                        <td>t</td>
                        @foreach (var number in Model.Rows)
                        {
                            <td>@number.t</td>
                        }
                    </tr>
                    <tr>
                        <td>T</td>
                        @foreach (var number in Model.Rows)
                        {
                            <td>@number.T</td>
                        }
                    </tr>
                    <tr>
                        <td>Разность t-шек</td>
                        @foreach (var number in Model.Rows)
                        {
                            <td>@number.Tnt</td>
                        }
                    </tr>
                </table>
            }
        </div>
    </div>
</body>
</html>

