@model List<InputData>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("/images/1.jpg");
        background-size: cover;
    }
</style>
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="border rounded" style="background-color: #ff69b4;" width: fit-content; padding: 20px;">
        <div class="text-center">
            <h1 class="display-4" style="color: #fff;">Регистрация</h1>
        </div>

        <form action="/Login/Register/" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group text-center" style=>
                <label for="login" class="form-label h2" style="color: #fff;">Логин</label>
                <div class="d-flex justify-content-center">
                    <input name="login" class="form-control form-control-lg" id="login" style="max-width: 200px" />
                </div>
            </div>
            <div class="form-group text-center">
                <label for="password" class="form-label h2" style="color: #fff;">Пароль</label>
                <div class="d-flex justify-content-center">
                    <input name="password" type="password" class="form-control form-control-lg" id="password" style="max-width: 200px" />
                </div>
            </div>

            <br />
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Регистрация</button>
            </div>
        </form>
        <br />
    </div>
</div>






